# Machine learning - Food

Agarro 6 platos comibinados y busco como se parecen.

In [135]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [299]:
with open('data.txt') as f: dishes = f.readlines()
dishes = [dish.replace("\n", "") for dish in dishes]

### Como son nuestros platos?

In [300]:
dishes

['plato combinado 1: pollo, patata, pimiento',
 'plato combinado 2: lomo, huevo, patata, pimiento',
 'plato combinado 3: pechugas, huevo, patata, pimiento',
 'plato combinado 4: ternera, huevo, patata, pimiento',
 'plato combinado 5: asado variado, pimiento verde, pimiento rojo, pechuga pollo, ternera, lomo, patata',
 'plato combinado 6: asado completo, pimiento verde, pimiento rojo, pechuga pollo, ternera, lomo, morcilla, txistorra, patata']

### Convertimos en la matriz de ingredientes

No es muy eficiente. Me da igual por ahora es para probar la idea.

In [301]:
names, ingredients = zip(*[(dish.split(":")[0], dish.split(":")[1].split(",")) for dish in dishes])
unique_ingredients= pd.Series(list(set(x for l in ingredients for x in l)))


def f(phrase) : return [sum(x) for x in zip(*[w==unique_ingredients for w in phrase])]
df = pd.DataFrame([f(ingredient) for ingredient in ingredients], index = names, columns = unique_ingredients)

La matriz quedaria algo asi:

In [304]:
df

,pollo,asado variado,pimiento verde,asado completo,pechugas,pimiento,huevo,ternera,patata,txistorra,pechuga pollo,morcilla,pimiento rojo,lomo
plato combinado 1,1,0,0,0,0,1,0,0,1,0,0,0,0,0
plato combinado 2,0,0,0,0,0,1,1,0,1,0,0,0,0,1
plato combinado 3,0,0,0,0,1,1,1,0,1,0,0,0,0,0
plato combinado 4,0,0,0,0,0,1,1,1,1,0,0,0,0,0
plato combinado 5,0,1,1,0,0,0,0,1,1,0,1,0,1,1
plato combinado 6,0,0,1,1,0,0,0,1,1,1,1,1,1,1

### Machine Learning

Ahora podemos jugar con el machine learning. Usamos el K-means por ejemplo y miramos que platos se parecen. 
Queremos tener ```n_clusters=3``` grupos.

In [306]:
kmeans = KMeans(n_clusters=3, random_state=0).fit(df)
gropped_dishes = pd.DataFrame({"name": names, "group": kmeans.labels_})
gropped_dishes = gropped_dishes.sort_values("group")
gropped_dishes.set_index("group")

                    name
group
0      plato combinado 5
1      plato combinado 1
1      plato combinado 2
1      plato combinado 3
1      plato combinado 4
2      plato combinado 6

Los platos 1-4 se parecen, 5 es distinto y el 6 es distino.

### Como se parecen?

Distancia entre los platos se basa en numero de ingredientes compartidos

In [307]:
def distance(word) : 
    l = df[df[word]==1].sum()
    return round(l / l.max(),2)

Esto para luego...

In [309]:
#distance_matrix = pd.DataFrame([distance(word) for word in words], index=words)
#plt.pcolor(distance_matrix, cmap=plt.cm.Reds)
#plt.show()